page-add-top-tracks {

    .title{
        position: absolute;
        top: 26%;
    }

    .doneButton{
        float: right;
    }

    .col{
        text-align: center;
        margin-top: 5rem;
        height: 10em;
    }

    .buttons{
        white-space: normal;
        background-color: black;
        display: inline-flex;
        width: 7em;
        height: 7em;
    }


}
