page-home-login {

    .title{
        text-align: center;
    }

    .wrapper{
        text-align: center;
    }

    .buttons{
        margin-top: 10%;
    }

    .buttons button{  
        height: 9em;
        width: 16em;
    }

    .buttons h3{
        margin-bottom: 0%;
    }

    .buttons ion-icon{
        font-size: 5em;
    }


}
