page-home-login {

    .title{
        text-align: center;
    }

    .buttons{
        align-items: center;
        display: flex; 
        justify-content: center;
        height: 240px;
    }

    .buttons button{
        display: block;   
        height: 50%;
        width: 80%;
    }

    .buttons h3{
        height: 10%;
    }

    .buttons ion-icon{
        font-size: 100px;
    }


}
