
h3 {
  text-align: left;
  padding-left: 20px;
}

.slidesWrapper{
  height: 400px;
}

.slides {
  height: 400px;
  position: relative;
  text-align: center;
  color: black;
  background-color: white;
  
}

.image{
  // position: relative;
  // text-align: center;
  height: 300px;
  width: 300px;
}

.name {
  text-align:center;
  width: 80%;
  overflow:hidden;
  height:50px;
  line-height:50px;
}

.subname {
  text-align: center;
}

