
.titolo {
  text-align: left;
  padding-left: 10px;
  padding-top: 20px;
}

.slidesWrapper{
  height: 400px;
}

.slides {
  height: 400px;
  position: relative;
  text-align: center;
  color: black;
  background-color: white;
  
}

.image{
  height: 300px;
  width: 300px;
}

.name {
  text-overflow: ellipsis;
  text-align:center;
  overflow:hidden;
  height:50px;
  white-space: nowrap;
}

.subname {
  text-align: center;
}

