<ion-header>
</ion-header>

<ion-content padding>
  <!-- <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
  <div *ngIf="items?.length>0">
    <ion-list *ngFor="let i of items">
      <ion-item>
        <h1>Artist:{{i.name}}</h1>
        <ion-badge color="primary">Popularity:{{i.popularity}}</ion-badge>
        <button ion-button color="secondary" (click)="searchAlbums(i.id,i.name)">Albums</button>
      </ion-item>
    </ion-list>
  </div> -->
  <h3>Le tue playlist</h3>

  <ion-slides class="slides" loop="true" style="background-color: white">
    <ion-slide *ngFor="let playlist of ownedPlaylists">
      <h3 class="name">{{playlist.name}}</h3>
      <h6 class="subname">{{playlist.numTracks}} brani</h6>
      <img class="image" style="width: 300px; height: 300px;" data-src="{{playlist.img}}" (click)='reproducePlaylist(playlist.id)'>
    </ion-slide>
  </ion-slides>

  <h3>Le playlist che segui</h3>

  <ion-slides class="slides" loop="true" style="background-color: white">
    <ion-slide *ngFor="let playlist of followedPlaylists">
      <h3 class="name">{{playlist.name}}</h3>
      <h6 class="subname">{{playlist.numTracks}} brani</h6>
      <img class="image" data-src="{{playlist.img}}" (click)='reproducePlaylist(playlist.id)'>
    </ion-slide>
  </ion-slides>
  <h3>Consigliate da Spotify</h3>

  <ion-slides class="slides" loop="true" style="background-color: white">
    <ion-slide *ngFor="let image of [1,2]">
      <img class="playlist" data-src="./assets/imgs/slide{{image}}.jpeg">
      <h3 class="name">Nome Playlist</h3>
      <h6 class="subname">8 brani</h6>
    </ion-slide>
  </ion-slides>


  <button ion-button (click)="pushToLyrics()">Get Lyrics</button>
  <button ion-button (click)="loginSpotify()">Login to Spotify</button>
</ion-content>



