<ion-header>
</ion-header>

<ion-content padding>
  <!-- <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
  <div *ngIf="items?.length>0">
    <ion-list *ngFor="let i of items">
      <ion-item>
        <h1>Artist:{{i.name}}</h1>
        <ion-badge color="primary">Popularity:{{i.popularity}}</ion-badge>
        <button ion-button color="secondary" (click)="searchAlbums(i.id,i.name)">Albums</button>
      </ion-item>
    </ion-list>
  </div> -->

  <h1 class="titolo">Your playlists</h1>

  <div class="slidesWrapper">
    <ion-slides class="slides" slidesPerView = 2 centeredSlides = true spaceBetween = 6 zoom = true >
      <ion-slide  *ngFor="let playlist of ownedPlaylists">
        <img (click)="pushToManagePlaylist( playlist)" class="image" style="width: 15rem; height: 15rem;" data-src="{{playlist.img}}">
        <h3 class="name">{{playlist.name}}</h3>
        <h6 class="subname">{{playlist.numTracks}} tracks</h6>
      </ion-slide>
    </ion-slides>
  </div>

  <h1 class="titolo">Playlists you follow</h1>

  <div class="slidesWrapper">
    <ion-slides class="slides" slidesPerView = 2 centeredSlides = true spaceBetween = 6 zoom = true>
      <ion-slide *ngFor="let playlist of followedPlaylists">
        <img (click)="pushToManagePlaylist(playlist)" class="image"  style="width: 15rem; height: 15rem;" data-src="{{playlist.img}}">
        <h3 class="name">{{playlist.name}}</h3>
        <h6 class="subname">{{playlist.numTracks}} tracks</h6>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- <button ion-button (click)="pushToLyrics()">Get Lyrics</button> -->
</ion-content>



