
h3 {
  text-align: left;
  padding-left: 20px;
}

.slides {
  height: 400px;
  position: relative;
  text-align: center;
  color: black;
}

.image {
  height: 300px;
  position: relative;
  text-align: center;
}

.name {
  text-align: center;
}

.subname {
  text-align: center;
}

