page-playlist {

    .card{
        text-align: center;
        vertical-align: middle;
        line-height: 210px;
        height: 200px;
        font-size: 16px;
        background-image: url(../../assets/imgs/music.jpeg);
        background-size: 150px 100px;
        background-repeat: no-repeat;
        background-position-x: 50%;
    }

}
