<!--
  Generated template for the AddSongPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <div>
      <ion-title class="title">Add Tracks</ion-title>
      <button class="doneButton" ion-button color=dark item-end (click)='donePlaylist()'>Done!</button>
    </div>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <div class="buttonWrapper">
    <button color=dark ion-button (click)="addTracksToPlaylist()">Add All Tracks</button>
  </div>

  <ion-list *ngIf="allTracks?.length>0">
    <ion-item *ngFor="let t of allTracks">
      <ion-thumbnail *ngIf="t.img?.length>0" item-start>
        <img src="{{t.img}}">
      </ion-thumbnail>
      <h2>{{t.name}}</h2>
      <p>{{t.artist}}</p>
      <button ion-button color=dark clear item-end (click)="addTrackToPlaylist(t.uri, t)">
        <ion-icon class="icon" name='{{t.icon}}'></ion-icon>       
      </button>
    </ion-item>
  </ion-list>
</ion-content>
