page-playlist-owned {

    .title{
        position: absolute;
        top: 26%;
    }

    .doneButton{
        float: right;
    }

    .list{
        text-align: center;
    }

    .cardDiv{
        display: inline-block;
        height: 22em;
        width: 22em;
    }

}
