<!--
  Generated template for the PlaylistOwnedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>PlaylistOwned</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-content padding>
    <div *ngIf="ownedPlaylists?.length>0">
      <ion-list *ngFor="let playlist of ownedPlaylists">
        <ion-card (click)="addAllTracks(playlist.id)">
          <img src="{{playlist.img}}"/>
          <div class="card-title">{{playlist.name}}</div>
          <div class="card-subtitle">{{playlist.numTracks}} brani</div>
        </ion-card>
      </ion-list>
    </div>
</ion-content>
