page-manage-playlist {

    .title{
        position: absolute;
        top: 26%;
    }

    .modifyButton{
        float: right;
    }

    .card-wrapper{
        text-align: center;
    }

    .card{
        display: inline-block;
        width: 20em;
        height: 20em;
    }

    .icon{
        color: black;
        font-size: 2em;
    }

    .buttonAdd{
        color: black;
    }

    .iconAdd{
        color: white;
    }

    .trashIcon{
        color: white;
        text-align: center;
        font-size: 2em;
    }

}
