page-manage-playlist {

    .modifyButton{
        float: right;
    }

    .icon{
        color: black;
        font-size: 30px;
    }

    .buttonAdd{
        color: black;
    }

    .iconAdd{
        color: white;
    }

    .trashIcon{
        color: white;
        text-align: center;
        font-size: 30px;
    }

}
