<!--
  Generated template for the AlbumsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Albums</ion-title>
    <button class="doneButton" ion-button item-end (click)='donePlaylist()'>Done!</button>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <div *ngIf="albums?.length>0">
    <ion-list *ngFor="let a of albums">
      <ion-card (click)="add(a.id)">
        <img *ngIf="a.images?.length>0" src="{{a.images[0].url}}"/>
        <div class="cardTitle">{{a.name}}</div>
        <!-- <div class="cardSubtitle">{{a.artists[0].name}}</div> -->
      </ion-card>
    </ion-list>
  </div>
</ion-content>

asd
