<!--
  Generated template for the AlbumDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>AlbumDetails</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-thumbnail item-start *ngIf="imageLink">
    <h2>{{album.name}}</h2>
    <img src="{{imageLink.url}}">
  </ion-thumbnail>
  <button ion-button large round  (click)="startTrack()"  item-end>Play Album</button>

  <div *ngIf="tracks?.length>0">
    <ion-list *ngFor="let t of tracks">
      <ion-item>

        <h1>{{t.name}}</h1>
        <button ion-button color="secondary" (click)="playTrack(t.preview_url)" clear item-end>Preview</button>
      </ion-item>
    </ion-list>

  </div>
</ion-content>
